@model Course

<p>
    <b>@Model.Title </b>Do you want to delete the course?
    <form asp-action="Delete" method="post">
        <input type="hidden" value="@Model.CourseId" name="id"/>
        <a asp-action="Index" class="btn btn-outline-warning">Cancel</a>
        <button type="submit" class="btn btn-outline-danger">Delete</button>
    </form>
</p>